*{
  font-family: helvetica;
}
html{
  background-color: #0A32C8;
  padding: 10px;
}

h1{
  font-weight: bold;
  font-size: 5vw;
  color: white;
}

hr{
  display: block;
  margin-top: -3vw;
  margin-bottom: 2vw;
  margin-left: 40vw;
  margin-right: 40vw;
  border-style: inset;
  border-width: 2px;
  border-color: white;
}
.news{
  line-height: 2vw;
  padding-bottom: 2vw;
}

.info{
  display: inline;
  padding: 3vw;
  width: 50vw;
  color: white;
}

.text{
  color : white;
}

.text-bold{
  color : white;
  font-weight: bold;
}

.logo-img{
  margin-right: 1vw;
}
.title-news{
  margin-bottom: 2.5vw;
  font-weight: bold;
  font-size: 2vw;
}

.header{
  margin-left: auto;
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
}
.button-blue{
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.8vw 2.3vw 0.8vw 2.3vw;
  text-align: center;
  text-decoration: none;
  font-size: 0.8vw;
  background-color: #0A32C8;
  color: white;
  margin: 5px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-blue:hover{
  color: #0A32C8;
  background-color: white;
}

.button-white{
  border: 2px solid #0A32C8;
  border-radius: 25px;
  padding: 0.8vw 2.3vw 0.8vw 2.3vw;
  text-align: center;
  text-decoration: none;
  font-size: 0.8vw;
  color: #0A32C8;
  background-color: white;
  margin: 5px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;

}
.button-white:hover{
  background-color: #0A32C8;
  color: white;
}

.button-row{
  display: inline-flex;
  background-color: white;
}
.content-body{
  margin-top: 6vw;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}

.content{
  padding: 3vw;
  width: 50vw;
  background-color:white;
}
.menu-bar a{
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  font-weight: bold;
}
.menu-bar .switch-page a{
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 2px solid transparent;
}
.menu-bar .switch-page a:hover{
  border-color: white;
}
.menu-bar .switch-page .berita{
  margin-right : 5vw;
}
.menu-bar .switch-page .profil{
  margin-left : 5vw;
}

.menu-bar .logo{
  margin-left: 10px;
  margin-right: 27vw;
}
.menu-bar .logout{
  margin-right: 10px;
  margin-left: 27vw;
}


.menu-bar{
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto 2vw auto 2vw;
}


/*  modal  */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(11,49,200); /* Fallback color */
    background-color: rgba(11,49,200,0.65); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 25px;
    width: 50%;
}

/* The Close Button */
.close {
    color: #0A32C8;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 300ms;
    -webkit-transition : 300ms;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
