

.polling {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.polling .polling1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.polling .polling1 .rectanglepath {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling .polling1 .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling .polling1 .background-white {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 242px;
  height              : 930px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.polling .polling1 .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 800px;
  height              : 216px;
  width               : 1515px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
}
.polling .polling1 .content .lorem-ipsum-dolor-si {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.polling .polling1 .content .polling-title {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.polling .polling1 .content .lorem-ipsum-dolor-si1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 850px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.polling .polling1 .content .polling-title1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 850px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.polling .polling1 .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 56px;
  width               : 1784px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
}
.polling .polling1 .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 36px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling .polling1 .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 35px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.polling .polling1 .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 3px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.polling .polling1 .menu-bar .logo .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.94px;
  line-height         : 30.0px;
}
.polling .polling1 .menu-bar .b-erita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling .polling1 .menu-bar .p-rofil {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1014px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling .polling1 .menu-bar .p-olling2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 834px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
  text-decoration     : underline;
}
.polling .polling1 .menu-bar .logout-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.polling .polling1 .menu-bar .logout-button .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.polling .polling1 .menu-bar .logout-button .log-out {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling .polling1 .header {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 240px;
  height              : 456px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.polling .polling1 .header .rectangle {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 456px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling .polling1 .header .buat-polling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 270px;
  height              : 73px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 821px;
}
.polling .polling1 .header .buat-polling .button7 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 73px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 26px;
}
.polling .polling1 .header .buat-polling .buat-polling1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling .polling1 .header .polling3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 100px;
  height              : 129px;
  width               : 317px;
  position            : absolute;
  margin              : 0;
  left                : 776px;
}
.polling .polling1 .header .polling3 .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 7px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.polling .polling1 .header .polling3 .polling4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 90.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 108.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}