

.polling-berita {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.polling-berita .polling-berita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 1922px;
  width               : 1920px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .rectanglepath {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1px;
  height              : 1197px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 1px;
  height              : 1200px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .background-white {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 242px;
  height              : 928px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.polling-berita .polling-berita .header {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1922px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .header .rectangle {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 239px;
  height              : 457px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.polling-berita .polling-berita .header .buat-berita-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 509px;
  height              : 74px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 848px;
}
.polling-berita .polling-berita .header .buat-berita-button .button2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 74px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 26px;
}
.polling-berita .polling-berita .header .buat-berita-button .buat-polling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 15px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
}
.polling-berita .polling-berita .header .polling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : 969px;
  width               : 1786px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
}
.polling-berita .polling-berita .header .polling .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 316px;
  height              : 92px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 747px;
}
.polling-berita .polling-berita .header .polling .shape1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 411px;
  height              : 8px;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 740px;
}
.polling-berita .polling-berita .header .polling .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 750px;
  height              : 219px;
  width               : 1517px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
}
.polling-berita .polling-berita .header .polling .content .lorem-ipsum-dolor-si {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.polling-berita .polling-berita .header .polling .content .polling-title {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.polling-berita .polling-berita .header .polling .content .lorem-ipsum-dolor-si1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 850px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.polling-berita .polling-berita .header .polling .content .polling-title1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 850px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 36.0px;
}
.polling-berita .polling-berita .header .polling .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 59px;
  width               : 1786px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .header .polling .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 39px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .header .polling .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 38px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.polling-berita .polling-berita .header .polling .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.polling-berita .polling-berita .header .polling .menu-bar .b-erita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
  text-decoration     : underline;
}
.polling-berita .polling-berita .header .polling .menu-bar .p-rofil {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1014px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .polling .menu-bar .p-olling1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 834px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .polling .menu-bar .logout-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 59px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.polling-berita .polling-berita .header .polling .menu-bar .logout-button .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 59px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.polling-berita .polling-berita .header .polling .menu-bar .logout-button .log-out {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .polling .menu-bar .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.94px;
  line-height         : 30.0px;
}
.polling-berita .polling-berita .header .shade {
  background-color    : rgba(11, 49, 200, 0.65);
  top                 : 0px;
  height              : 1922px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.polling-berita .polling-berita .header .tambah-berita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 221px;
  height              : 812px;
  width               : 634px;
  position            : absolute;
  margin              : 0;
  left                : 644px;
}
.polling-berita .polling-berita .header .tambah-berita .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 812px;
  width               : 634px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 30px;
}
.polling-berita .polling-berita .header .tambah-berita .login-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 676px;
  height              : 59px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 238px;
}
.polling-berita .polling-berita .header .tambah-berita .login-button .button3 {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 59px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
}
.polling-berita .polling-berita .header .tambah-berita .login-button .s-ubmit {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .tambah-berita .question2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 575px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 264px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .tambah-berita .vector {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 208px;
  height              : 5px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
}
.polling-berita .polling-berita .header .tambah-berita .your-news-url {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 169px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 239px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .tambah-berita .vector2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 308px;
  height              : 5px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
}
.polling-berita .polling-berita .header .tambah-berita .pollings-start-date {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 269px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .tambah-berita .vector3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 408px;
  height              : 5px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
}
.polling-berita .polling-berita .header .tambah-berita .pollings-end-date {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 229px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .tambah-berita .vector4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 507px;
  height              : 6px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
}
.polling-berita .polling-berita .header .tambah-berita .question1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 469px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 265px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.polling-berita .polling-berita .header .tambah-berita .vector5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 608px;
  height              : 4px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
}
.polling-berita .polling-berita .header .tambah-berita .polling-form {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 59px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 241px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}