

.view-berita {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 2433px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.view-berita .view-berita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2433px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-berita .view-berita .b-ackground {
  background-color    : rgba(11, 49, 200, 1.0);
  top                 : 0px;
  height              : 2433px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-berita .view-berita .background-white {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 193px;
  height              : 2197px;
  width               : 1868px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.view-berita .view-berita .scroll {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 267px;
  height              : 1714px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 1832px;
}
.view-berita .view-berita .scroll .rectangle2 {
  background-color    : rgba(242, 242, 242, 1.0);
  top                 : 0px;
  height              : 1714px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
}
.view-berita .view-berita .scroll .rectangle21 {
  background-color    : rgba(189, 189, 189, 1.0);
  top                 : 0px;
  height              : 321px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
}
.view-berita .view-berita .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2143px;
  height              : 63px;
  width               : 575px;
  position            : absolute;
  margin              : 0;
  left                : 672px;
}
.view-berita .view-berita .button .rate-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-berita .view-berita .button .rate-button .button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 62px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 22px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.view-berita .view-berita .button .rate-button .r-ate {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .button .review-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 401px;
}
.view-berita .view-berita .button .review-button .button3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 62px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 22px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.view-berita .view-berita .button .review-button .r-eview {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 21px;
  height              : auto;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .button .rate-button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 63px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
}
.view-berita .view-berita .button .rate-button2 .button4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 62px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 22px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(11, 49, 200, 1.0);
}
.view-berita .view-berita .button .rate-button2 .c-omment {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(11, 49, 200, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .menu-bar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 56px;
  width               : 1784px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
}
.view-berita .view-berita .menu-bar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 36px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-berita .view-berita .menu-bar .logo .ellipse {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 35px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.view-berita .view-berita .menu-bar .logo .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 3px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.view-berita .view-berita .menu-bar .logo .neewsco {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.94px;
  line-height         : 30.0px;
}
.view-berita .view-berita .menu-bar .b-erita {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .menu-bar .p-rofil {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1014px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .menu-bar .p-olling {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 834px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .menu-bar .logout-button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 1628px;
}
.view-berita .view-berita .menu-bar .logout-button .button1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -1px;
  height              : 56px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-radius       : 20px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.view-berita .view-berita .menu-bar .logout-button .log-out {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.view-berita .view-berita .frame {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 311px;
  height              : 1674px;
  width               : 1347px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
}
.view-berita .view-berita .frame .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 186px;
  height              : 1488px;
  width               : 1347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.view-berita .view-berita .frame .content .lorem-ipsum-dolor-si {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 218px;
  height              : auto;
  width               : 1347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.view-berita .view-berita .frame .content .lorem-ipsum-dolor-si1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 1347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  letter-spacing      : 1.33px;
  line-height         : 40.0px;
}
.view-berita .view-berita .frame .title {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 108px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
}
.view-berita .view-berita .frame .title .title2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 108px;
  width               : 197px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.view-berita .view-berita .frame .title .title2 .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 100px;
  height              : 6px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.view-berita .view-berita .frame .title .title2 .title1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 90.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 108.0px;
}
.view-berita .polling1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 462px;
  height              : 7px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 829px;
}
.view-berita .polling1 .shape1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 7px;
  width               : 261px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}