{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <link href="{% static 'base.css'%}" rel="stylesheet" type="text/css"/>
        </meta>
    </head>
    <body>
      <div class="menu-bar">
        <img class="logo-img" src="{% static 'img/logo.png' %}" alt="logo">
        <a id="menu-bar-logo" class="logo">Neews.co</a>
        <div class="switch-page">
        <a class="berita" href="/berita/">BERITA</a>
        <a class="polling" href="/polling/">POLLING</a>
        <a class="profil" href="/profil/">PROFIL</a>
      </div>
        <a id="menu-bar-btn"class="button-blue logout">LOG OUT</a>

    </div>
    {% block content %}
    {% endblock %}
    </body>
</html>
