<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
        <div class="daftar-artikel">
          <div id="buat-berita-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>Some text in the Modal..</p>
                </div>

              </div>
            <div>
<div class="header">
  <h1>Artikel</h1>
  <hr>
  <br>
  <a id="buat-berita-btn" class="button-white buat-berita" >BUAT BERITA</a>
  </div>
  <div class="content-body">
     {% if daftar_berita %}
      {% for berita in daftar_berita %}
        <div class="content">
                    <div class="title-news">
                          News Title {{berita.judul}}
                      </div>
                        <div class="news">
                            {{ topik }}
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="button-row">
                        <div class="button-white review">
                          REVIEW
                        </div>
                        <div class="button-white view">
                          VIEW
                        </div>
                      </div>
                    </div>
          
                  </div>
                    </div>
      {% endfor %}
        {% else %}
          <div class="alert alert-danger text-center">
            <strong>Oops!</strong> Tidak ada berita.
            </div>
        {% endif %}
            </div>

        <!-- Scripts -->
        <script>
          // Get the modal
          var modal = document.getElementById('buat-berita-modal');

          // Get the button that opens the modal
          var btn = document.getElementById("buat-berita-btn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
        </script>
        <!-- End of Scripts -->
{% endblock %}
