{% extends "base.html" %}
{% block content %}
<style>
.profil .content-body{
  padding: 0px;
  display: block;
}
.text-bold{
  text-align: center;
  margin-top: 3vw;
  font-weight: bold;
  color : white;
}

.text{
  color: white;
}
.info{
  margin-bottom: 2vw;
}

.info .text{
  float: right;
}
.info-kiri{
  float : left;
  margin-left: 5vw;
  width: 40vw;
}
.info-kanan{
  float: right;
  margin-right: 5vw;
  width: 40vw;
}
</style>
<div class="profil">
  <div class="header">
    <h1>Profil</h1>
    <hr>
    <br>
    <a class="button-white" href="/daftarartikel/">LIHAT ARTIKEL</a>
  </div>
  <div class="content-body">
    <div class="info-kiri">
      <div class="info">
      <a class="text-bold">
        Role
      </a>
      <a class="text">
        {{ role }}
      </a>
    </div>
    <div class="info">
      <a class="text-bold">
        Username
      </a>
      <a class="text">
        {{ username }}
      </a>
    </div>
    <div class="info">
      <a class="text-bold">
        No Identitas
      </a>
      <a class="text">
        {{ noIden }}
      </a>
    </div>
    <div class="info">
      <a class="text-bold">Nama</a>
      <a class="text">
        {{ nama }}
      </a>
    </div>
    <div class="info">
      <a class="text-bold">
        Email
      </a>
      <a class="text">
        {{ email }}
      </a>
    </div>
  </div>
<div class="info-kanan">
    <div class="info">
      <a class="text-bold">
        Tempat Lahir
      </a>
      <a class="text">
        {{ tempat }}
      </a>
    </div>
    <div class="info">
      <a class="text-bold">
        Tanggal Lahir</a>
        <a class="text">
          {{ bday }}
        </a>
      </div>
      <div class="info">
        <a class="text-bold">
                                No HP
                            </a>
                            <a class="text">
                                {{ no_hp }}
                            </a>
                          </div>
                          <div class="info">
                            <a class="text-bold">
                                {{ pilihan_judul }}
                            </a>
                            <a class="text">
                                {{ pilihan_isi }}
                            </a>
                          </div>
                          <div class="info">
                            <a class="text-bold">
                                Id Univ
                            </a>
                            <a class="text">
                                {{ id_univ }}
                            </a>
                        </div>
                      </div>
                      </div>
                    </div>
        <!-- Scripts -->
        <script>
        </script>
        <!-- End of Scripts -->
{% endblock %}
