<!DOCTYPE html>
{%  extends "base.html" %}
{% load staticfiles %}
{% block content %}
      <style>
      .menu-bar .switch-page{
        visibility: hidden;
      }

      #login-modal{
        padding-top: 0%;
      }

      #next-btn{
        margin-left: 38%;
        margin-top: 3vw;
      }#prev-btn{
        margin-left: 38%;
        margin-top: 3vw;
        margin-bottom: -1vw;
      }

      .modal-content input:not([type="submit"]){
        margin-left: 30%;
        width: 40%;
      }
      </style>
      <div id="login-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span id="close-login"class="close">&times;</span>
              <form class="user-login">
                <input  required type="text" name="Email" placeholder="Username">
                <input  required type="password" name="Password" placeholder="Password">
                <input class="button-blue" type="submit" value="LOGIN">
              </form>
            </div>

          </div>
        <div>
          <div id="register-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span id="close-register"class="close">&times;</span>
                  <div id="register-title"class="text-bold">REGISTER 1/2</div>
                  <form class="user-register">
                  <div id="tab1" class="tab">
                    <input required type="text" name="Role" placeholder="Your Role">
                    <input required type="text" name="Username" placeholder="Your Username">
                    <input required type="password" name="Password" placeholder="Your Password">
                    <input required type="text" name="Name" placeholder="Your Name">
                    <input required type="text" name="Birthplace" placeholder="Your Place of Birth">
                    <input required type="date" name="Birthdate" placeholder="Your Date of Birth">
                    <a id="next-btn" class="button-blue">NEXT</a>
                  </div>
                  <div id="tab2"class="tab">
                    <input required type="text" name="Email" placeholder="Your Email">
                    <input required type="number" name="Phone" placeholder="Your Phone Number">
                    <input required type="number" name="Id" placeholder="Your Identity Number">
                    <input required type="text" name="Status" placeholder="Your Status">
                    <input required type="text" name="UnivID" placeholder="Your University ID">
                    <a id="prev-btn" class="button-white">PREV</a>
                    <input required class="button-blue" type="submit" value="SUBMIT">
                  </div>
                  </form>
                </div>
          </div>
      </div>

      <div class="main-before-login">
        <div class="menu-bar">
        </div>
        <div class="header">
          <img class="logo-large-img" src="{% static 'img/Logo_large.png'%}" alt="logo">
          <h1 class="logo">
            Neews.co
          </h1>
          <div class="caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <a id="register-btn" class="button-white">
              MULAI SEKARANG
          </a>
        </div>
      </div>
        <!-- Scripts -->
        <script>
        document.getElementById('menu-bar-btn').innerHTML = "LOGIN";
        document.getElementById('menu-bar-logo').href = "";
        document.getElementById('tab2').style.display = "none";


          // Get the modal
          var modalRegister = document.getElementById('register-modal');

          // Get the button that opens the modal
          var btnRegister = document.getElementById("register-btn");

          // Get the <span> element that closes the modal
          var spanRegister = document.getElementById("close-register");

          // When the user clicks the button, open the modal
          btnRegister.onclick = function() {
              modalRegister.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          spanRegister.onclick = function() {
              modalRegister.style.display = "none";
                document.getElementById("tab1").style.display = "flex";
                document.getElementById("tab2").style.display = "none";
                document.getElementById("register-title").innerHTML = "REGISTER 1/2";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modalRegister) {
                  modalRegister.style.display = "none";
                    document.getElementById("tab1").style.display = "flex";
                    document.getElementById("tab2").style.display = "none";
                    document.getElementById("register-title").innerHTML = "REGISTER 1/2";
              }
          }

        var nextbtn = document.getElementById("next-btn");
        var prevbtn = document.getElementById("prev-btn");
         nextbtn.onclick = function(){
           document.getElementById("tab1").style.display = "none";
           document.getElementById("tab2").style.display = "flex";
           document.getElementById("register-title").innerHTML = "REGISTER 2/2";

         }
         prevbtn.onclick = function(){
           document.getElementById("tab1").style.display = "flex";
           document.getElementById("tab2").style.display = "none";
           document.getElementById("register-title").innerHTML = "REGISTER 1/2";

         }

            // Get the modal
            var modalLogin = document.getElementById('login-modal');

            // Get the button that opens the modal
            var btnLogin = document.getElementById("menu-bar-btn");

            // Get the <span> element that closes the modal
            var spanLogin = document.getElementById("close-login");

            // When the user clicks the button, open the modal
            btnLogin.onclick = function() {
                modalLogin.style.display = "flex";
            }

            // When the user clicks on <span> (x), close the modal
            spanLogin.onclick = function() {
                modalLogin.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modalLogin) {
                    modalLogin.style.display = "none";
                }
            }


        </script>
        <!-- End of Scripts -->
{% endblock %}
