<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
        <div class="daftar-artikel">
          <div id="buat-poll-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>Some text in the Modal..</p>
                </div>

              </div>
            <div>
<div class="header">
  <div class="title-news">
  News Title
  </div>
  <br>
  </div>
  <div class="content-body">
    <div class="content-view">
                    <div class="news">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet massa fringilla, venenatis dui et, consectetur risus. Etiam dictum consequat erat. Mauris convallis auctor purus vel tristique. Morbi vel aliquet lacus. Mauris vel justo lorem. Proin hendrerit sodales leo ut vehicula. Curabitur ultrices nisl vitae nisi tincidunt, ac porta arcu gravida. Ut a erat dolor. Vivamus non ex vitae dolor molestie vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque dolor orci, iaculis sit amet ligula sit amet, vehicula pharetra sapien. Donec tincidunt ligula arcu, sed mollis est rutrum nec. Sed tincidunt interdum elit fermentum gravida. Donec congue tortor hendrerit consequat sodales. Cras imperdiet gravida est, sed euismod urna bibendum a. Quisque non euismod quam.
<br>
Quisque volutpat sem id ex hendrerit, at consectetur risus porta. Vestibulum neque mi, placerat vitae tortor nec, vehicula ultrices nulla. Pellentesque eu sem nec ex scelerisque porttitor eget at libero. Aliquam varius, arcu sed faucibus finibus, ligula metus malesuada sem, in placerat nulla enim eget augue. Maecenas at erat nisl. Sed fermentum vestibulum nisi, ut facilisis risus vestibulum eget. Cras lobortis lacus mi. Vestibulum sit amet sodales turpis.
<br>
Cras pretium et turpis quis consequat. Pellentesque eget egestas diam, sit amet tristique velit. Curabitur condimentum porta rhoncus. Vestibulum faucibus ultrices ante, quis dictum nunc pretium a. In nec magna hendrerit, efficitur magna eu, laoreet sem. Vestibulum luctus eu augue vitae finibus. Integer enim leo, scelerisque at enim eget, bibendum rutrum enim. Morbi sodales ornare sodales. Nulla facilisi. Donec ligula lectus, facilisis in velit iaculis, pellentesque blandit lectus. Vivamus eget pretium nunc. Integer pharetra sodales pulvinar. Nulla in nisi justo. Etiam nec quam magna. Suspendisse varius sed augue a eleifend.
<br>
Donec sit amet mattis mi, in convallis dolor. Sed luctus convallis turpis sollicitudin vehicula. Sed hendrerit nisi libero, aliquam finibus diam tristique et. Curabitur blandit ex nec libero laoreet, sollicitudin scelerisque arcu placerat. Proin et leo in magna aliquet convallis laoreet eu tortor. Donec auctor est velit, blandit iaculis urna interdum ac. In hac habitasse platea dictumst. In egestas, tortor ut pharetra rhoncus, magna mauris gravida neque, et feugiat urna metus ac risus. Nam sed diam ut quam varius fermentum ac tempus nibh. Phasellus eget tristique dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce commodo, tortor id aliquet vehicula, dolor purus placerat nibh, rhoncus aliquam lacus metus et nibh. Phasellus eleifend justo velit, eget mattis enim suscipit ut. Vivamus pharetra neque ac imperdiet auctor.
<br>
Praesent auctor commodo dignissim. Ut in purus dui. Suspendisse nec ligula et magna vulputate ornare id quis libero. Nulla sit amet sagittis velit, aliquet rhoncus est. Aliquam in malesuada dui, in semper nunc. Quisque commodo porta sagittis. Donec sit amet faucibus quam, vel aliquet velit. Nam sit amet eros rutrum, molestie libero sed, scelerisque libero. Suspendisse ac nibh placerat, vehicula risus quis, vehicula risus. Nulla sit amet scelerisque dolor.
                    </div>
                    <div class="button-row">
                    <div class="button-white rate">
                      RATE
                    </div>
                    <div class="button-white review">
                      REVIEW
                    </div>
                    <div class="button-white comment">
                      COMMENT
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>

        <!-- Scripts -->
        <script>
          // Get the modal
          var modal = document.getElementById('buat-poll-modal');

          // Get the button that opens the modal
          var btn = document.getElementById("buat-poll-btn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
        </script>
        <!-- End of Scripts -->
{% endblock %}
