*{
  font-family: helvetica;
  letter-spacing: 2px;
}
html{
  background-color: #0A32C8;
  padding: 10px;
}
.daftar-artikel{
  background-color: #0A32C8;
}

h1{
  font-weight: bold;
  font-size: 5vw;
  color: white;
}

hr{
  display: block;
  margin-top: -3vw;
  margin-bottom: 2vw;
  margin-left: 40vw;
  margin-right: 40vw;
  border-style: inset;
  border-width: 2px;
  border-color: white;
}
textarea, input, button { outline: none; }
.news{
  line-height: 2vw;
  padding-bottom: 2vw;
}
.logo-img{
  margin-right: 1vw;
}
.title-news{
  margin-bottom: 2.5vw;
  font-weight: bold;
  font-size: 2vw;
}

.header{
  margin-left: auto;
  text-align: center;
  margin-top: 11vw;
  margin-bottom: 10vw;
  color: white;
}

.header img{
  margin-bottom: -1.2vw;
}

.button-blue{
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.8vw 2.3vw 0.8vw 2.3vw;
  text-align: center;
  text-decoration: none;
  font-size: 0.8vw;
  background-color: #0A32C8;
  color: white;
  margin: 5px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-blue:hover{
  color: #0A32C8;
  background-color: white;
  border-color: #0A32C8;
}

.button-white{
  border: 2px solid #0A32C8;
  border-radius: 25px;
  padding: 0.8vw 2.3vw 0.8vw 2.3vw;
  text-align: center;
  text-decoration: none;
  font-size: 0.8vw;
  color: #0A32C8;
  background-color: white;
  margin: 5px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;

}
.button-white:hover{
  background-color: #0A32C8;
  color: white;
  border-color: white;
}

.button-row{
  display: inline-flex;
  background-color: white;
}
.content-body{
  margin-top: 6vw;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}

.content{
  padding: 3vw;
  width: 50vw;
  background-color:white;
}
.content-view{
  padding: 3vw 6vw 3vw 6vw;
  width: 100vw;
  background-color:white;
  color: black;
  text-align:justify;

}

.content-view .button-row{
  text-align: center;
  margin-left: 35%;
}

.caption{
  text-align: justify;
  width: 40%;
  margin-left: 30%;
  font-size: 1vw;
  margin-top: -0.9vw;
  margin-bottom: 3vw;
}

/* menu bar */
.menu-bar a{
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  font-weight: bold;
}
.menu-bar .switch-page a{
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 2px solid transparent;
}
.menu-bar .switch-page a:hover{
  border-color: white;
}
.menu-bar .switch-page .berita{
  margin-right : 4.5vw;
}
.menu-bar .switch-page .profil{
  margin-left : 4.5vw;
}

.menu-bar .logo{
  margin-left: 10px;
  margin-right: 25vw;
}
.menu-bar .logout{
  margin-right: 10px;
  margin-left: 25vw;
}


.menu-bar{
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto 2vw auto 2vw;
}

.modal-content input[type="text"], input[type="password"],input[type="number"],input[type="date"]{
  padding: 0.3vw;
  text-align: center;
  width: 40%;
  font-size: 0.8vw;
  margin-top: 3vw;
  margin-left: 30%;
  border: 0px solid transparent;
  border-bottom: 2px solid black;
}

.modal-content input[type="submit"]{
  width: 30%;
  margin-left: 35%;
  padding: 0.8vw 2.3vw 0.8vw 2.3vw;
  margin-top: 2.6vw;
}

.modal-content form .tab{
  margin-top: 1vw;
  margin-bottom: 1.8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-bold{
  text-align: center;
  margin-top: 3vw;
  font-weight: bold;
}
/*  modal  */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(11,49,200); /* Fallback color */
    background-color: rgba(11,49,200,0.65); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 25px;
    width: 30%;
    margin-bottom: auto;
}

/* The Close Button */
.close {
    color: #0A32C8;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 300ms;
    -webkit-transition : 300ms;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
