<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
<style>
.modal-content input:not([type="submit"]){
  margin-left: 0%;
  width: 20%;
  margin-right: 5%;
}
.modal{
  padding-top: 10%;
}

.modal-content{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.close{
  float:right;
}
.modal-content input[placeholder="Title"]{
  width:75%;
  margin-left: 13%;
}
textarea{
  background-color: #F8F8F8;
  border: 2px solid transparent;
  width: 97%;
  overflow-y: scroll;
  padding: 0.8vw;
  font-size: 0.8vw;
  margin-top: 2vw;
}

.input-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 23%;
}
.input-row input{
  margin-left: -100px;
  width: 100%;
}

</style>
        <div class="daftar-artikel">
          <div id="buat-berita-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <form name="tambah-berita">
                    <input type="text" placeholder="Title">
                  <textarea name="news-input" rows="15"></textarea>
                  <div class="input-row">
                  <input class="input" type="url" placeholder="news' URL">
                  <input class="input" type="text" placeholder="Topic">
                  <input class="input" type="text" placeholder="Tag">
                </div>
<!--
                  <input required type="text" name="Title" placeholder="Your News' Title">
                  <input required type="text" name="Url" placeholder="Your News' URL">
                  <input required type="text" name="Topic" placeholder="Your News' Topic">
                  <input required type="number" name="WordCount" placeholder="Your News' Word Count">
                  <input required type="text" name="Tag" placeholder="Your News' Tag"> -->
                  <input class="button-blue" type="submit" value="SUBMIT">
                </form>
                </div>
              </div>
            <div>
<div class="header">
  <h1>Berita</h1>
  <hr>
  <br>
  <a id="buat-berita-btn" class="button-white buat-berita" >BUAT BERITA</a>
  </div>
  <div class="content-body">
    <!--{% if berita %}
      {% for konten in berita %}
        <div class="content">
                <div class="title-news">
                      {{konten.judul}}
                  </div>
                    <div class="news">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="button-row">
                    <div class="button-white review">
                      REVIEW
                    </div>
                    <div class="button-white view">
                      VIEW
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                <div>gaada berita weh</div>
                {% endif %}-->
                <div class="content">
                <div class="title-news">
                      News Title
                  </div>
                    <div class="news">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="button-row">
                    <div class="button-white review">
                      REVIEW
                    </div>
                    <div class="button-white view">
                      VIEW
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="title-news">
                      News Title
                  </div>
                    <div class="news">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="button-row">
                    <div class="button-white review">
                      REVIEW
                    </div>
                    <div class="button-white view">
                      VIEW
                    </div>
                  </div>
                </div>

              </div>
                </div>
            </div>

        <!-- Scripts -->
        <script>
          // Get the modal
          var modal = document.getElementById('buat-berita-modal');

          // Get the button that opens the modal
          var btn = document.getElementById("buat-berita-btn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
        </script>
        <!-- End of Scripts -->
{% endblock %}
