<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
        <div class="daftar-artikel">
          <div id="buat-poll-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>Some text in the Modal..</p>
                </div>

              </div>
            <div>
<div class="header">
  <h1>Polling</h1>
  <hr>
  <br>
  <a id="buat-poll-btn" class="button-white buat-poll" >BUAT POLL</a>
  </div>
  <div class="content-body">
    {% if polling %}
      {% for pol in polling %}

    <div class="content">
                <div class="title-news">
                      Polling id : {{pol.0}}
                  </div>
                    <div class="news">
                        Deskripsi : {{ pol.1 }}
                    </div>
                    <div>
                       url : {{ pol.2 }}
                  </div>
                  <div>
                      start : {{ pol.3 }}
                  </div>
                  <div>
                      end : {{ pol.4 }}
                  </div>
                   <div>
                      total responden : {{ pol.5 }}
                  </div>
                </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-danger text-center">
        <strong>Oops!</strong> No Polling Available.
        </div>
        {% endif %}

            </div>


        <!-- Scripts -->
        <script>
          // Get the modal
          var modal = document.getElementById('buat-poll-modal');

          // Get the button that opens the modal
          var btn = document.getElementById("buat-poll-btn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
        </script>
        <!-- End of Scripts -->
{% endblock %}
